@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1a2236;
  --border-color: #293145;
  --color: rgba(255, 255, 255, 0.75);
  --link-color: #0062e1;
  --link-hover-bg-color: #293145;
  --tab-active-bg-color: #0a80ff;
  --tooltip-bg-color: #6C757D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

a {
  color: var(--link-color);
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
