@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a2236;
  --grey: #293145;
  --tab-active-bg-color: #0a80ff;
  --tooltip-bg-color: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  font-family: Inter, sans-serif;
  @apply bg-primary;
  @apply text-white;
}

a {
  color: var(--link-color);
}

nav ul * {
  transition: all 0.3s;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-grey;
}
