.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  border-bottom: 1px solid var(--border-color);
}

.wrapper:hover {
  background-color: var(--link-hover-bg-color);
}
